@charset "utf-8";
.container{ overflow:hidden; width:100%; max-width: 750px; @extend %transition; margin: 0 auto;}

.FSW{
    &:before{content: ' '; position: fixed; z-index: -1; top: 0; right: 0; bottom: 0; left: 0; background: url(../img/bg.jpg) center 0 no-repeat; background-size: cover;}
}

.FSMenu{position: fixed;right:10px;top:100px;z-index: 9999;
    li{margin-bottom: .15rem;
        &.active{
            a{color:#96520f;box-shadow: 0 0 10px rgba(150,82,15,.2);}
        }
        &:nth-child(1){
            a{line-height: .6rem;}
        }
    }
    a{display: block;font-size: .17rem;width:.65rem;border-radius: .1rem;background: white(.8);box-shadow: 0 0 10px white(.2);padding: .05rem;@include innerBox;text-align: center;color:#5d5d5d;line-height: .3rem;min-width: .85rem;}
}

.FSBlock1{text-align: center;@include innerBox;
    .title{width:cal(689px,$cw);margin: 0 auto;}
}

.FSBlock2{padding-top: cal(90,750);padding-bottom:cal(150,750);
    .titW{width:cal(740,750);margin: 0 auto;}
    .videoW{border: 2px solid #000;margin-top: cal(85,750);}
    .center{position: relative;}
    .prW{position: relative;margin-top: cal(50,570);}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .rightW{
        img{display: none;
            &:nth-child(1){display: block;}
        }
    }
    .flexW{position: relative;padding: cal(30,570) cal(40,570);}
    .leftW{margin-top: cal(40,490);
        .cont{display: none;
            &:nth-child(1){display: block;}
        }
    }
    .slickW{padding-bottom: 20px;
        .item{}
        .imgW{padding: .12rem;border: 2px solid #F9D5B3;margin: 0 .2rem;}
        .slick-dots{bottom: 0;margin-bottom: 0;}
        .slick-dots button{background: rgba(142,79,13,.5);}
        .slick-dots li.slick-active button{background:  rgba(142,79,13,1);}
        .slick-prev{left:auto;right:100%;margin-right: -7px;
            &:before{content:"";background: url(../img/left.png) center no-repeat;background-size: 45%;}
        }
        .slick-next{right:auto;left:100%;margin-left: -7px;
            &:before{content:"";background: url(../img/right.png) center no-repeat;background-size: 45%;}
        }
        .slick-prev, .slick-next{width:20px;height:20px;background: black(.6);border-radius: 50%;font-size: .3rem;}
    }
    .desc{font-size: .16rem;color:#000;margin-top: .2rem;line-height: 1.5;@include textS(.3rem,7);}
    .btn{display: inline-block;padding: 0 .15rem;font-size: .25rem;color:#8e4d0e;width:cal(447,490);@include innerBox;margin: .2rem .2rem 0;text-align: center;position: relative;
        .btnBg{width:100%;height:100%;position: absolute;top:0;left:0;}
        span{position: relative;}
    }
    .rightW{position: relative;}
    .addW{
        li{position: absolute;top:0;cursor: pointer;text-align: center;}
        .add{width: cal(30,100);}
        li:nth-child(1){left:cal(223,560);margin-top: cal(65,560);}
        li:nth-child(2){left:cal(320,560);margin-top: cal(160,560);}
        li:nth-child(3){left:cal(300,560);margin-top: cal(275,560);}
        li:nth-child(4){left:cal(125,560);margin-top: cal(370,560);}
        li:nth-child(5){left:cal(385,560);margin-top: cal(370,560);}
        .tit{color:#b89123;margin: 5px auto 0;font-size: .18rem;text-align: center;padding: .05rem .32rem;line-height: 1;position: relative;
            .btnImg{width:100%;height:100%;position: absolute;top:0;left:0;}
            span{position: relative;}
        }
    }
    .botW{padding: cal(50,750);@include innerBox;position: relative;margin-top:cal(55,750);
        .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
        .flexW1{position: relative;}
        .des{color:#000;font-size: .24rem; text-indent: .48rem;text-align: left;margin-top: cal(25,650);}
        .tit{width:cal(316,650);margin: 0 auto;}
    }

}

.FSBlock3{text-align: center;padding-top:cal(50,750);padding-bottom:cal(150,750);;
    .titW{width:cal(740,750);margin: 0 auto;}
    .wrap{margin-top: cal(30px,$cw);padding: cal(25px,$cw);position: relative;}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .tagW{position: relative;}
    .imgW{position: relative;display: block;}
    .des{position: absolute;bottom: 0;left:0;width:100%;padding: cal(10,1150) cal(25,1150);@include innerBox;color:#000;font-size: .25rem;line-height: .36rem;background: white(.8);text-align: left;}
    .topW{
        li{display: none;
            &:nth-child(1){display: block;}
        }
    }
    .botW{margin-top: .25rem;
        li{@include vm;margin-right: .01rem;width:1.6rem;height:.43rem;line-height: .43rem;background: url(../img/block3_tit_bg.png) no-repeat center;background-size:100% 100%;font-size: .19rem;color:#96520f;cursor: pointer;margin-bottom:.1rem;
            &.active,&:hover{background-image: url(../img/block3_tit_hover.png);}
        }
        a{color:#96520f;}
    }
}

.FSBlock4{text-align: center;padding-top:cal(50,750);padding-bottom:cal(150,750);
    .titW{width:cal(740,750);margin: 0 auto;}
    .pr{position: relative;padding: cal(40,570) cal(30,570);margin-top: cal(30,570);}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .wrap{position: relative;}
    .title{font-size: .24rem;color:#96520f;}
    .flexW{@include flex;justify-content: space-between;flex-wrap: wrap;
        .box{width:cal(250,510);margin-bottom: cal(30,510);}
    }
    .slickW{margin-top: .4rem;padding-bottom:30px;
        .slick-dots{bottom: 0;margin-bottom: 0;}
        .slick-dots button{background: rgba(142,79,13,.5);}
        .slick-dots li.slick-active button{background:  rgba(142,79,13,1);}
        .imgW{display: block;}
        .tit{display: inline-block;color:#96520f;font-size: .24rem;width:1.80rem;height:.4rem;line-height: .4rem;text-align: center;margin-top: .15rem;background: #fff;border-radius: 5px;border: 1px solid #F9D5B3;}
    }
}

.FSBlock5{text-align: center;padding-top:cal(50,750);padding-bottom:cal(150,750);;
    .titW{width:cal(740,750);margin: 0 auto;}
    .pr{position: relative;padding: cal(70,570);margin-top: cal(30,570);}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .wrap{position: relative;}
    .title{font-size: 20px;color:#96520f;}
    .slickW{padding-bottom: 30px;
        .slick-dots{bottom: 0;margin-bottom: 0;}
        .slick-dots button{background: rgba(142,79,13,.5);width:10px;height:10px;}
        .slick-dots li.slick-active button{background:  rgba(142,79,13,1);}
        .slick-prev{left:auto;right:100%;margin-right: 2px;
            &:before{content:"";background: url(../img/left.png) center no-repeat;background-size: 45%;}
        }
        .slick-next{right:auto;left:100%;margin-left: 2px;
            &:before{content:"";background: url(../img/right.png) center no-repeat;background-size: 45%;}
        }
        .slick-prev, .slick-next{width:20px;height:20px;background: black(.6);border-radius: 50%;font-size: .3rem;}
    }
    .title2{font-size: .31rem;color:#000;margin-top: cal(50,430);}
    .desc{font-size: .19rem;color:#000;}
}

.FSBlock6{text-align: center;padding-top:cal(50,750);padding-bottom:cal(150,750);;
    .titW{width:cal(740,750);margin: 0 auto;}
    .pr{position: relative;margin-top: cal(40,570);}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .wrap{position: relative;}
    .title{font-size: 20px;color:#96520f;}
    .slickW{padding-bottom: 30px;
        .slick-dots{bottom: 0;margin-bottom: 0;}
        .slick-dots button{background: rgba(142,79,13,.5);width:10px;height:10px;}
        .slick-dots li.slick-active button{background:  rgba(142,79,13,1);}
        .slick-prev{left:auto;right:100%;margin-right: 2px;
            &:before{content:"";background: url(../img/left.png) center no-repeat;background-size: 45%;}
        }
        .slick-next{right:auto;left:100%;margin-left: 2px;
            &:before{content:"";background: url(../img/right.png) center no-repeat;background-size: 45%;}
        }
        .slick-prev, .slick-next{width:20px;height:20px;background: black(.6);border-radius: 50%;font-size: .3rem;}
    }
    .flexW{padding: cal(50,570);
        .item{
            &:hover{
                .textW{@include opacited(1);}
            }
        }
    }
    .imgW{display:block;position: relative;}
    .textW{width:100%;height:100%;position: absolute;top:0;left:0;background: url(../img/block6_h.png) no-repeat;background-size: cover;;@include innerBox;text-align: center;padding:.5rem .4rem;@include opacited(0);@include tst(.5s all ease);
        img{width:1.2rem;display: inline-block;}
        .des{font-size: .24rem;color:#fff;line-height: .3rem;text-align: justify;margin-top: .15rem;}
    }
}

.FSBlock7{text-align: center;padding-top:cal(50,750);padding-bottom:cal(150,750);;
    .titW{width:cal(740,750);margin: 0 auto;}
    .pr{position: relative;padding: cal(40,570) cal(30,750);margin-top: cal(30,570);}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .wrap{position: relative;}
    .title{font-size: 20px;color:#96520f;}
    .slickW{margin-top: .3rem;
        .imgW{margin-top:.3rem;display: block;}
        .slick-dots{bottom: 0;margin-bottom: .3rem;}
        .slick-dots button{background: rgba(142,79,13,.5);}
        .slick-dots li.slick-active button{background:  rgba(142,79,13,1);}
        .slick-prev{left:0;margin-left:.2rem;
            &:before{content:"";background: url(../img/left.png) center no-repeat;background-size: 45%;}
        }
        .slick-next{right:0;margin-right:.2rem;
            &:before{content:"";background: url(../img/right.png) center no-repeat;background-size: 45%;}
        }
        .slick-prev, .slick-next{width:30px;height:30px;background: black(.6);border-radius: 50%;font-size: .5rem;top:40%;}
    }
    .title2{font-size: .31rem;color:#000;margin-top: cal(50,430);}
    .desc{font-size: .26rem;color:#000;text-align: left;margin-top: .3rem;}
}

.FSBlock8{text-align: center;padding-top:cal(50,750);padding-bottom:cal(150,750);
    .slickW{padding-bottom: 30px;
        .slick-dots{bottom: 0;margin-bottom: 0;text-align: center;}
        .slick-dots button{background: rgba(142,79,13,.5);}
        .slick-dots li.slick-active button{background:  rgba(142,79,13,1);}
    }
    .titW{width:cal(740,750);margin: 0 auto;}
    .wrap{padding: cal(40,750) cal(30,750);position: relative;margin-top: .4rem;}
    .bg{width:100%;height:100%;position: absolute;top:0;left:0;}
    .tagW{position: relative;}
    .imgW{position: relative;display: block;}
    .tag{font-size: .16rem;position: absolute;top:.05rem;left:.05rem;text-align:center;width:100%;overflow: hidden;height:1rem;
        span{color:#fff;height: .36rem;line-height: .36rem;width:2.4rem;@include tsf(rotate(-30deg));background: #F65327;display: block;position: relative;left:-.7rem;top:.15rem;}
    }
    .textW{width:100%;position: absolute;left:0;bottom:0;background:url(../img/border_bg.png) no-repeat;background-size:100% 100%;padding: .1rem;@include innerBox;}
    .tit{font-size: .2rem;color:#000;
        span{font-size: .15rem;}
    }
    .price{color:#F65327;font-size: .15rem;}
    .topW{
        >li{display: none;
            &:nth-child(1){display: block;}
        }
    }
    .flexW{@include flex;justify-content: space-between;flex-wrap: wrap;}
    .imgW{width:cal(255,520);margin-top: .20rem;}
    .line{width:cal(255,520);}
    .botW{
        >li{@include vm;margin-right: .1rem;width:1.29rem;height:.43rem;line-height: .43rem;background: url(../img/block3_tit_bg.png) no-repeat center;background-size:100% 100%;font-size: .21rem;color:#96520f;cursor: pointer;
            &.active{background-image: url(../img/block3_tit_hover.png);}
        }
    }
}
